{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <p> {{ error }}</p>
    <form action="{{ url_for('register') }}" id="resgistration" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" data-validation='alphanumeric' input type="text" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password_confirmation" data-validation='required' placeholder="Enter Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" data-validation='confirmation' placeholder="Re-Enter Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="summoner" data-validation='alphanumeric' placeholder="Summoner" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  $.validate({
      modules: 'security'
  });
  $('#my-textarea').restrictLength( $('#max-length-element') );
</script>
{% endblock %}